/* stylelint-disable no-descending-specificity, media-feature-range-notation */
@import url("https://fonts.googleapis.com/css?family=Lato:300,300italic,400,700,700italic");

@tailwind base;
@tailwind components;
@tailwind utilities;

.stiker {
  background: url("../assets/images/stiker.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 32px;
}

.da:hover svg {
  stroke: white !important;
}
