<div class="col"><div class="text-xl">Shopping Cart</div>
You have {{this.total}} items in your cart.
</div>

<div class="grid grid-cols-10 gap-x-6">
<div class="col-span-6 ">
  <div class="grid  gap-y-6">
  {{#each this.groups as |productGroup|}}
  <ProductGroup @group={{productGroup}}/>
{{/each}}
  </div>
</div>
<div class="col-span-4 ml-6 rounded-md overflow-hidden shadow-sm border border-gray-100 flex flex-col">
  <div class="bg-gray-100 font-bold px-8 py-4 text-xl">Summary</div>
  <div class=" px-8 py-4 flex flex-col">
    <div> Subtotal</div>
    <div> Shipping cost</div>
    <div> Discount</div>

  </div>
</div>


</div>