<div class="flex border justify-between pl-12 pr-12 pt-4 pb-4 border-b-1 border-gray-200">
  <img alt="stiker" class="h-8" src="../assets/images/stiker.png"><Cart  /></div>



<div class="mx-auto max-w-2xl px-4  sm:px-6 sm:pb-24 lg:max-w-7xl lg:px-8">
  <div class="md:container md:mx-auto">


    <div class="grid grid-cols-1 gap-x-6 ">
<CartFull />
    </div>
  </div>
</div>