<Jumbo>
  <h2>Welcome to Super Rentals!</h2>
  <p>We hope you find exactly what you're looking for in a place to stay.</p>
  <LinkTo @route="about" class="button">About Us</LinkTo>
</Jumbo>
<Jumbo>

  <p>WZxZx place to stay.</p>

</Jumbo>
<Ted @items={{@model}} @name="htyye"></Ted>
<Rentals @rentals={{@model}} />
