


<div class="flex border justify-between pl-12 pr-12 pt-4 pb-4 border-b-1 border-gray-200">
  <img class="h-8" src="../assets/images/stiker.png"> <LinkTo @route="cart"><Cart /></LinkTo>
</div>



<div class="mx-auto max-w-2xl px-4  sm:px-6 sm:pb-24 lg:max-w-7xl lg:px-8">
 <div class="md:container md:mx-auto py-12">
   <BsTab as |tab|>
     <tab.pane   @title="Groceries">

       <div class="text-4xl mt-8 font-medium">Groceries</div>
       <div  class="text-xl py-2 mb-4">Special FX offers only the finest organic produce.</div>
  <div class="mt-8 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-3 xl:gap-x-8">
{{#if this.model}}
{{#each this.model as |product|}}
<Product @product={{product}} />
{{/each}}
    {{else}}
  loading

{{/if}}
  </div>

   </tab.pane>
   <tab.pane @title="Wine">
     <div class="text-4xl mt-8 font-medium">Wine</div>
     <div  class="text-xl py-2 mb-4">Empty category.</div>

   </tab.pane>
     <tab.pane @title="Clothes">
       <div class="text-4xl mt-8 font-medium">Clothes</div>
       <div  class="text-xl py-2 mb-4">Empty category.</div>

     </tab.pane>
     <tab.pane @title="Fx">
       <div class="text-4xl mt-8 font-medium">Fx</div>
       <div  class="text-xl py-2 mb-4">Empty category.</div>

     </tab.pane>

   </BsTab>

</div>
</div>